@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero-banner::before {
  width: 5%;
  content: "";
  display: block;
  height: 100%;
  background: #384aeb;
  position: absolute;
  top: 0;
  left: 0;
}

/* hover Product */
.card-product__img {
  position: relative;
}
.card-product__imgOverlay {
  background: rgba(255, 255, 255, 0.5);
}
.card-product:hover .card-product__imgOverlay {
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
}
.card-product:hover .card-product__title a {
  color: #384aeb;
}
/* Breakpoint config */
@media (min-width: 575px) {
  .hero-banner::before {
    width: 20%;
  }
}

@media (min-width: 991px) {
  .hero-banner::before {
    width: 35%;
  }
}
